/*
<li key={episode.episode_number}>
    <button onClick={() => handleEpisodeClick(episode)}>
        {episode.title}
    </button>
</li>

The above jsx acts as a list item that should be fullwidth and 
*/

li.episode {
    // list-style: none;
    margin-bottom: 1rem;
    margin-left: 2rem;
    font-size: 2rem;

    div.episode-item {
        width: fit-content;
        padding: 0.25rem 0.5rem;
        border-radius: 0.5rem;
        cursor: pointer;
        animation-timing-function: ease;
        transition-duration: 0.1s;

        &:hover {
            transform: scale(1.05);
            transform-origin: left;
        }

        .title {
            font-size: 2rem;
        }
    }
}